In [1]:
import os
import pandas as pd

In [3]:
results = pd.read_json(os.path.join('data','ergast-results.json'))
wikidata_ids = pd.read_csv(os.path.join('data','wikidata_ids.csv'))
wikid = pd.read_json(os.path.join('data','wikidata.json'))

results = results.merge(wikidata_ids, left_on="driverUrl", right_on="url")
results = results.merge(wikid, left_on="wikidata_id", right_on="wikidata_id")

In [4]:
results['date_of_birth'] = pd.to_datetime(results['date_of_birth'])

In [7]:
results['age'] = results['date'] - results['date_of_birth']

In [26]:
ham = pd.Timestamp('2025-03-03 00:00:00') - results[results['name'] == 'Lewis Hamilton']['date_of_birth'].iloc[0]
ham

Timedelta('14665 days 00:00:00')

In [14]:
results[results['constructor'] == 'Ferrari'].groupby('name')['age'].max().nlargest(20)

name
Clemente Biondetti    18947 days
Hans von Stuck        18882 days
Rudolf Schoeller      18361 days
Nino Farina           17848 days
Louis Rosier          17801 days
Piero Taruffi         17768 days
Luigi Villoresi       16919 days
Franco Comotti        16784 days
Juan Fangio           16507 days
Chico Landi           16135 days
Raymond Sommer        15983 days
Peter Hirt            15852 days
Reg Parnell           15721 days
Mario Andretti        15550 days
Dorino Serafini       15018 days
Rudi Fischer          14751 days
Maurice Trintignant   14508 days
Roger Laurent         14408 days
Paul Frère            14369 days
Kimi Räikkönen        14284 days
Name: age, dtype: timedelta64[ns]

In [27]:
results[(results['constructor'] == 'Ferrari') & (results['age'] >= ham)][['date','name']].sort_values(by='date')

            date             name
15654 1950-05-21  Luigi Villoresi
16208 1950-05-21   Raymond Sommer
16207 1950-06-04   Raymond Sommer
15644 1950-06-04  Luigi Villoresi
15647 1950-06-18  Luigi Villoresi
...          ...              ...
15362 1956-08-05      Juan Fangio
15366 1956-09-02      Juan Fangio
15358 1956-09-02      Juan Fangio
11310 1982-09-12   Mario Andretti
11318 1982-09-25   Mario Andretti

[103 rows x 2 columns]

In [25]:
results[(results['constructor'] == 'Ferrari') & (results['age'] >= pd.Timedelta('14610 days 00:00:00')) & (results['round'] == 1)][['date','name']].sort_values(by='date')

            date             name
15645 1951-05-27  Luigi Villoresi
15677 1951-05-27    Piero Taruffi
15581 1952-05-18      Nino Farina
15582 1952-05-18      Nino Farina
15669 1952-05-18     Rudi Fischer
15676 1952-05-18    Piero Taruffi
15971 1952-05-18     Louis Rosier
16115 1952-05-18       Peter Hirt
15575 1953-01-18      Nino Farina
15639 1953-01-18  Luigi Villoresi
15562 1954-01-17      Nino Farina
15970 1954-01-17     Louis Rosier
15560 1955-01-16      Nino Farina
15576 1955-01-16      Nino Farina
15363 1956-01-22      Juan Fangio
15367 1956-01-22      Juan Fangio