In [1]:
%run prepareStats.py

Last GP in the database: 2022 Canadian Grand Prix

In [2]:
totalLocations = pd.Series(results.groupby(["name"])["location"].nunique(), name="totalLocations")
results = results.merge(totalLocations, on="name", how="right")

In [3]:
driversIndyOnly = results[(results["totalLocations"] == 1) & (results["location"] == "Indianapolis")].name.drop_duplicates().tolist()

## The shiniest debuts

(Without the drivers participating in the very first F1 race, and without the drivers participating only in Indianapolis 500.)

In [4]:
results = results.sort_values(by="date").reset_index()

In [5]:
firstRaces = results.iloc[results.groupby(["name"])["date"].agg(pd.Series.idxmin)]

firstRaces = firstRaces[~firstRaces.name.isin(firstGPdrivers)]

firstRaces = firstRaces[~firstRaces.name.isin(driversIndyOnly)]

firstRaces = firstRaces[["name", "year", "location", "position"]].sort_values(by=["year", "position"])

In [6]:
results[results["name"] == "Jackie Stewart"].sort_values(by="date")

,index,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,...,gp,status,constructor,constructorNationality,name,age,driverContinent,street,entries,totalLocations
3153,9265,16989,699,328,66,4.0,11,6.0,6,6,...,South African Grand Prix,+2 Laps,BRM,British,Jackie Stewart,9336 days,Europe,False,100,25
3178,9250,17017,700,328,66,4.0,3,3.0,3,3,...,Monaco Grand Prix,Finished,BRM,British,Jackie Stewart,9485 days,Europe,True,100,25
3192,9251,17033,701,328,66,8.0,3,2.0,2,2,...,Belgian Grand Prix,Finished,BRM,British,Jackie Stewart,9499 days,Europe,False,100,25
3211,9247,17052,702,328,66,12.0,2,2.0,2,2,...,French Grand Prix,Finished,BRM,British,Jackie Stewart,9513 days,Europe,False,100,25
3233,9252,17072,703,328,66,4.0,4,5.0,5,5,...,British Grand Prix,Finished,BRM,British,Jackie Stewart,9526 days,Europe,False,100,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5233,9204,15194,615,328,25,5.0,1,1.0,1,1,...,German Grand Prix,Finished,Tyrrell,British,Jackie Stewart,12474 days,Europe,False,100,25
5262,9212,15217,616,328,25,5.0,7,2.0,2,2,...,Austrian Grand Prix,Finished,Tyrrell,British,Jackie Stewart,12488 days,Europe,False,100,25
5266,9205,15242,617,328,25,5.0,6,4.0,4,4,...,Italian Grand Prix,Finished,Tyrrell,British,Jackie Stewart,12509 days,Europe,False,100,25
5306,9222,15268,618,328,25,5.0,9,5.0,5,5,...,Canadian Grand Prix,+1 Lap,Tyrrell,British,Jackie Stewart,12523 days,Europe,False,100,25
5336,9231,15315,619,328,25,5.0,5,NaN,W,26,...,United States Grand Prix,Withdrew,Tyrrell,British,Jackie Stewart,12537 days,Europe,False,100,25

In [7]:
results[results["name"] == "Jackie Stewart"].groupby("year")["raceId"].nunique()

year
1965    10
1966     8
1967    11
1968    10
1969    11
1970    13
1971    11
1972    11
1973    15
Name: raceId, dtype: int64

In [8]:
firstRaces[["name", "year", "location", "position"]].sort_values(by=["position", "year"]).head(50)

                     name  year               location  position
2298   Giancarlo Baghetti  1961                  Reims       1.0
28         Alberto Ascari  1950            Monte-Carlo       2.0
143       Dorino Serafini  1950                  Monza       2.0
906            Karl Kling  1954                  Reims       2.0
15266  Jacques Villeneuve  1996              Melbourne       2.0
22145     Kevin Magnussen  2014              Melbourne       2.0
344            Jean Behra  1952                   Bern       3.0
1438       Masten Gregory  1957            Monte-Carlo       3.0
4391         Reine Wisell  1970         New York State       3.0
4638         Mark Donohue  1971                Ontario       3.0
19253      Lewis Hamilton  2007              Melbourne       3.0
23         Raymond Sommer  1950            Monte-Carlo       4.0
466          Dennis Poore  1952            Silverstone       4.0
347           Ken Wharton  1952                   Bern       4.0
402         Mike Hawthorn  1952                    Spa       4.0
1223        Gerino Gerini  1956           Buenos Aires       4.0
1435   Stuart Lewis-Evans  1957            Monte-Carlo       4.0
1877        Innes Ireland  1959              Zandvoort       4.0
3802           Vic Elford  1968                  Rouen       4.0
4211       Clay Regazzoni  1970              Zandvoort       4.0
4186       Ignazio Giunti  1970                    Spa       4.0
12066          Jean Alesi  1989           Le Castellet       4.0
11834      Johnny Herbert  1989         Rio de Janeiro       4.0
86         Felice Bonetto  1950                   Bern       5.0
348            Alan Brown  1952                   Bern       5.0
438         Eric Thompson  1952            Silverstone       5.0
409            Paul Frère  1952                    Spa       5.0
754          Hermann Lang  1953                   Bern       5.0
562          Oscar Gálvez  1953           Buenos Aires       5.0
1217    Olivier Gendebien  1956           Buenos Aires       5.0
1748        Bruce McLaren  1958                Nürburg       5.0
3626        Jackie Oliver  1967                Nürburg       5.0
17441         Mark Webber  2002              Melbourne       5.0
22554         Felipe Nasr  2015              Melbourne       5.0
111         Charles Pozzi  1950                  Reims       6.0
226         André Pilette  1951                    Spa       6.0
1224       Óscar González  1956           Buenos Aires       6.0
1595        Cliff Allison  1958            Monte-Carlo       6.0
2032       Richie Ginther  1960            Monte-Carlo       6.0
2665      Neville Lederle  1962  Eastern Cape Province       6.0
3153       Jackie Stewart  1965  Eastern Cape Province       6.0
4848      Arturo Merzario  1972                   Kent       6.0
5026       George Follmer  1973                Midrand       6.0
7953          Alain Prost  1980           Buenos Aires       6.0
14362        Eddie Irvine  1993                 Suzuka       6.0
16328    Pedro de la Rosa  1999              Melbourne       6.0
17062      Kimi Räikkönen  2001              Melbourne       6.0
96           Nello Pagani  1950                   Bern       7.0
101         Pierre Levegh  1950                    Spa       7.0
396    Charles de Tornaco  1952                    Spa       7.0

## The most successful farewells

(Without the drivers participating in the very last race.)

In [9]:
results = results.sort_values(by="date", ascending=True).reset_index(drop=True)

In [10]:
lastRaces = results.loc[results.groupby(["name"])["date"].agg(pd.Series.idxmax)]

In [11]:
lastRaces = lastRaces[~lastRaces.name.isin(lastGPdrivers)]
lastRaces = lastRaces[~lastRaces.name.isin(driversIndyOnly)]

In [12]:
lastRaces[["name", "year", "location", "position"]].sort_values(by=["position", "year"]).head(20)

                      name  year              location  position
3727             Jim Clark  1968               Midrand       1.0
146        Dorino Serafini  1950                 Monza       2.0
1284            Paul Frère  1956                   Spa       2.0
1796         Mike Hawthorn  1958            Casablanca       2.0
4671            Jo Siffert  1971        New York State       2.0
14386          Alain Prost  1993              Adelaide       2.0
22132          Mark Webber  2013             São Paulo       2.0
23365         Nico Rosberg  2016             Abu Dhabi       2.0
2430           Tony Brooks  1961        New York State       3.0
12881   Alessandro Nannini  1990  Jerez de la Frontera       3.0
14312     Michael Andretti  1993                 Monza       3.0
1215           Chico Landi  1956          Buenos Aires       4.0
1697           Juan Fangio  1958                 Reims       4.0
2024     Carlos Menditeguy  1960          Buenos Aires       4.0
2206       Giulio Cabianca  1960                 Monza       4.0
3757   Ludovico Scarfiotti  1968           Monte-Carlo       4.0
3987       Richard Attwood  1969           Monte-Carlo       4.0
13488        Nelson Piquet  1991              Adelaide       4.0
15239        Mark Blundell  1995              Adelaide       4.0
15976       Gerhard Berger  1997  Jerez de la Frontera       4.0

It's safe to say not a single driver has ever knowingly ended his F1 career with a satisfying victory. 

Luigi Fagioli's farewell win was a shared drive, [Fagioli finishing his part 11th](https://en.wikipedia.org/wiki/Luigi_Fagioli):

> His only Grand Prix of 1951 was his last, but he nevertheless won the French Grand Prix with Juan-Manuel Fangio, earning the distinction of being the oldest person to ever win a Formula One race. During the race, the Alfa Romeo team manager ordered him to hand over his healthy car to Fangio while Fagioli would drive Fangio's car, which was plagued with engine problems. Ferrari had done the same, ordering José Froilán González to hand over to the quicker and more experienced Alberto Ascari; this was common practice in Grand Prix racing before 1957. Fangio battled hard with Ascari and took victory while Fagioli finished 11th and last in Fangio's original car, 22 laps down. Fagioli was so incensed by this that he retired from Grand Prix racing after this race.

Jim Clark was killed in a F2 race before the 1968 Spanish Grand Prix, little did he know the 1968 South African Grand Prix was his farewell win.

## Careers crowned with the best ever result in the very last race

In [13]:
bestRaces = results.sort_values(by="date", ascending=True)

bestRaces = bestRaces.loc[bestRaces.groupby(["name"])["position"].agg(pd.Series.idxmin).dropna()]

bestRaces = bestRaces[["name", "year", "location", "position"]].sort_values(by=["position", "year"])

bestLastRaces = lastRaces.merge(bestRaces, on="name", how="right")

In [14]:
bestLastRaces = bestLastRaces[bestLastRaces["position_x"] == bestLastRaces["position_y"]]

bestLastRaces = bestLastRaces[bestLastRaces["entries"] > 1]

In [15]:
bestLastRaces[["name", "year_x", "location_x", "position_x", "entries"]].dropna().sort_values(by="entries", ascending=False).head(10)

                  name  year_x location_x  position_x  entries
31           Jim Clark  1968.0    Midrand         1.0     73.0
336      Jan Magnussen  1998.0   Montreal         6.0     25.0
587  Jérôme d'Ambrosio  2012.0      Monza        13.0     20.0
383       Corrado Fabi  1984.0     Dallas         7.0     18.0
404      Lance Macklin  1955.0  Liverpool         8.0     15.0
204   Michael Andretti  1993.0      Monza         3.0     13.0
564    Robert Doornbos  2006.0  São Paulo        12.0     11.0
123         Paul Frère  1956.0        Spa         2.0     11.0
321    Gijs van Lennep  1975.0    Nürburg         6.0      9.0
415      Bruce Halford  1960.0      Reims         8.0      9.0

## Careers launched with the best result, never to be achieved again

This is kind of funny: Jan Magnussen ended his career with his best result (6th place). 14 years later, his son Kevin started his own F1 career with his own best result (2nd place). Both have the longest careers among the drivers with similar fates.

In [16]:
bestRaces = results.sort_values(by="date", ascending=False)

bestRaces = bestRaces.loc[bestRaces.groupby(["name"])["position"].agg(pd.Series.idxmin).dropna()]

bestRaces = bestRaces[["name", "year", "location", "position", "entries"]].sort_values(by=["position", "year"])

bestFirstRaces = firstRaces.merge(bestRaces, on="name", how="right")

In [17]:
bestFirstRaces = bestFirstRaces[bestFirstRaces["position_x"] == bestFirstRaces["position_y"]]

bestFirstRaces = bestFirstRaces[bestFirstRaces["location_x"] == bestFirstRaces["location_y"]]

bestFirstRaces = bestFirstRaces[bestFirstRaces["entries"] > 1]

In [18]:
bestFirstRaces[["name", "location_x", "year_x", "position_x", "entries"]].dropna().sort_values(by="entries", ascending=False).head(10)

                   name      location_x  year_x  position_x  entries
154     Kevin Magnussen       Melbourne  2014.0         2.0      129
301         Felipe Nasr       Melbourne  2015.0         5.0       40
22   Giancarlo Baghetti           Reims  1961.0         1.0       26
188        Reine Wisell  New York State  1970.0         3.0       23
221         Ken Wharton            Bern  1952.0         4.0       16
190        Mark Donohue         Ontario  1971.0         3.0       15
238          Vic Elford           Rouen  1968.0         4.0       13
117          Karl Kling           Reims  1954.0         2.0       12
602          Ian Ashley         Nürburg  1974.0        14.0       11
263          Alan Brown            Bern  1952.0         5.0        9

## Longest time in F1 after the last win or podium

(Without the drivers participating in the very last race.)

In [19]:
lastRaces = results.sort_values(by="date", ascending=True).reset_index(drop=True)
lastRaces = results.loc[results.groupby(["name"])["date"].agg(pd.Series.idxmax)]

In [20]:
lastRaces = lastRaces[~lastRaces.name.isin(lastGPdrivers)]
lastRaces = lastRaces[~lastRaces.name.isin(driversIndyOnly)]

In [21]:
lastWins = wins.sort_values(by="date", ascending=False).reset_index(drop=True)
lastWins = lastWins.loc[lastWins.groupby(["name"])["date"].agg(pd.Series.idxmax)]

In [22]:
afterLastWin = lastWins.merge(lastRaces, on="name", how="right")

In [23]:
afterLastWin["era"] = (afterLastWin["date_y"] - afterLastWin["date_x"])

In [24]:
afterLastWin.groupby(["name"]).agg({"era": max}).sort_values(by="era", ascending=False).head(10)

                         era
name
Robert Kubica      4844 days
Jo Bonnier         4508 days
Michele Alboreto   3388 days
Felipe Massa       3311 days
Jacques Villeneuve 3227 days
Olivier Panis      3066 days
Troy Ruttman       2922 days
Jarno Trulli       2744 days
Jochen Mass        2646 days
Jacky Ickx         2625 days

In [25]:
lastPodiums = podiums.sort_values(by="date", ascending=False).reset_index(drop=True)
lastPodiums = lastPodiums.loc[lastPodiums.groupby(["name"])["date"].agg(pd.Series.idxmax)]

In [26]:
afterLastPodium = lastPodiums.merge(lastRaces, on="name", how="right")

In [27]:
afterLastPodium["era"] = (afterLastPodium["date_y"] - afterLastPodium["date_x"])

In [28]:
afterLastPodium.groupby(["name"]).agg({"era": max}).sort_values(by="era", ascending=False).head(10)

                       era
name
Jo Bonnier       4508 days
Robert Kubica    4032 days
Derek Warwick    3381 days
Jos Verstappen   3332 days
Bruno Giacomelli 3270 days
Rolf Stommelen   2975 days
Troy Ruttman     2922 days
Louis Chiron     2919 days
Olivier Panis    2695 days
Hans Herrmann    2541 days