In [1]:
%run prepareStats.py

Last GP in the database: 2022-06-19 00:00:00

In [2]:
results = results[~results.status.isin(dnqs)]

In [3]:
fathersAndSons = {
"Andrettis": ["Mario Andretti", "Michael Andretti"],
"Brabhams": ["Jack Brabham", "David Brabham"],
"Fittipaldis": ["Wilson Fittipaldi", "Christian Fittipaldi"],
"Hills": ["Graham Hill", "Damon Hill"], 
"Magnussens": ["Jan Magnussen", "Kevin Magnussen"],
"Nakajimas": ["Satoru Nakajima", "Kazuki Nakajima"],
"Palmers": ["Jonathan Palmer", "Jolyon Palmer"],
"Parnells": ["Reg Parnell", "Tim Parnell"],
"Piquets": ["Nelson Piquet", "Nelson Piquet Jr."], 
"Rosbergs": ["Keke Rosberg", "Nico Rosberg"],
"Schumachers": ["Michael Schumacher", "Mick Schumacher"],
"Verstappens": ["Jos Verstappen", "Max Verstappen"], 
"Villeneuves": ["Gilles Villeneuve", "Jacques Villeneuve"],
"Winkelhocks": ["Manfred Winkelhock", "Markus Winkelhock"]
}

In [4]:
sons = []
for key, value in fathersAndSons.items():
    sons.append(value[1])

In [5]:
results.loc[results.name.isin(sons),"son"]=True

C:\Users\micha\AppData\Local\Temp\ipykernel_2696\1785044887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results.loc[results.name.isin(sons),"son"]=True

In [6]:
results.loc[results.position.eq(1),"twentyFivePointSystem"]=25
results.loc[results.position.eq(2),"twentyFivePointSystem"]=18
results.loc[results.position.eq(3),"twentyFivePointSystem"]=15
results.loc[results.position.eq(4),"twentyFivePointSystem"]=12
results.loc[results.position.eq(5),"twentyFivePointSystem"]=10
results.loc[results.position.eq(6),"twentyFivePointSystem"]=8
results.loc[results.position.eq(7),"twentyFivePointSystem"]=6
results.loc[results.position.eq(8),"twentyFivePointSystem"]=4
results.loc[results.position.eq(9),"twentyFivePointSystem"]=2
results.loc[results.position.eq(10),"twentyFivePointSystem"]=1
results.loc[~results.position.isin([1,2,3,4,5,6,7,8,9,10]),"twentyFivePointSystem"]=0

C:\Users\micha\AppData\Local\Temp\ipykernel_2696\3531698584.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results.loc[results.position.eq(1),"twentyFivePointSystem"]=25

In [7]:
resultsSons = results[results.name.isin(sons)]

## Historical stats

In [8]:
woSons = results.groupby(["year", "round"])["son"].count()
woSons[woSons <1].tail(1)

year    round
2004.0  15.0     0
Name: son, dtype: int64

The last GP without a single son of another F1 driver entering was the 2004 Italian Grand Prix.

In [9]:
woSons = results.groupby(["year"])["son"].count()
woSons[woSons <1].tail(1)

year
1991.0    0
Name: son, dtype: int64

In [10]:
results[results.name.isin(sons)].reset_index().groupby("year")["name"].nunique(list)

year
1961.0    1
1990.0    1
1992.0    2
1993.0    3
1994.0    3
1995.0    1
1996.0    2
1997.0    2
1998.0    2
1999.0    2
2000.0    1
2001.0    1
2002.0    1
2003.0    1
2004.0    1
2005.0    1
2006.0    2
2007.0    3
2008.0    3
2009.0    3
2010.0    1
2011.0    1
2012.0    1
2013.0    1
2014.0    2
2015.0    3
2016.0    4
2017.0    3
2018.0    2
2019.0    2
2020.0    2
2021.0    2
2022.0    3
Name: name, dtype: int64

The 2016 season saw the most sons of another F1 driver participating in the WDC.

In [11]:
resultsSons[resultsSons["year"] == 2016].groupby("name")["raceId"].nunique()

name
Jolyon Palmer      21
Kevin Magnussen    21
Max Verstappen     21
Nico Rosberg       21
Name: raceId, dtype: int64

## Sons, ranked

In [12]:
resultsSons.groupby("name")["points"].sum().sort_values(ascending=False)

name
Max Verstappen          1717.5
Nico Rosberg            1594.5
Damon Hill               360.0
Jacques Villeneuve       235.0
Kevin Magnussen          172.0
Nelson Piquet Jr.         19.0
Christian Fittipaldi      12.0
Jolyon Palmer              9.0
Kazuki Nakajima            9.0
Michael Andretti           7.0
David Brabham              0.0
Markus Winkelhock          0.0
Mick Schumacher            0.0
Tim Parnell                0.0
Name: points, dtype: float64

In [13]:
resultsSons.groupby("name")["twentyFivePointSystem"].sum().sort_values(ascending=False)

name
Nico Rosberg            1739.0
Max Verstappen          1717.0
Damon Hill              1091.0
Jacques Villeneuve       853.0
Kevin Magnussen          172.0
Christian Fittipaldi     100.0
Nelson Piquet Jr.         50.0
Michael Andretti          41.0
Kazuki Nakajima           34.0
Jolyon Palmer              9.0
David Brabham              1.0
Tim Parnell                1.0
Markus Winkelhock          0.0
Mick Schumacher            0.0
Name: twentyFivePointSystem, dtype: float64

In [14]:
resultsSons.groupby("name")["raceId"].count().sort_values(ascending=False)

name
Nico Rosberg            206
Jacques Villeneuve      165
Max Verstappen          150
Kevin Magnussen         129
Damon Hill              116
Christian Fittipaldi     40
Jolyon Palmer            37
Kazuki Nakajima          36
Mick Schumacher          31
Nelson Piquet Jr.        28
David Brabham            24
Michael Andretti         13
Tim Parnell               2
Markus Winkelhock         1
Name: raceId, dtype: int64

In [15]:
resultsSons.groupby("name")["position"].min().sort_values()

name
Damon Hill               1.0
Jacques Villeneuve       1.0
Max Verstappen           1.0
Nico Rosberg             1.0
Kevin Magnussen          2.0
Nelson Piquet Jr.        2.0
Michael Andretti         3.0
Christian Fittipaldi     4.0
Jolyon Palmer            6.0
Kazuki Nakajima          6.0
David Brabham           10.0
Tim Parnell             10.0
Mick Schumacher         11.0
Markus Winkelhock        NaN
Name: position, dtype: float64

## Gaps between father's last GP and son's first

In [16]:
def timedelta():
    timedeltas = {}
    for key, value in fathersAndSons.items():
        delta = results[results["name"] == value[1]]["date"].min() - results[results["name"] == value[0]]["date"].max()
        delta = delta
        timedeltas[key] = delta
    timedeltas = pd.DataFrame.from_dict(timedeltas, orient="index", columns = ["gap"])    
    return(timedeltas)
        
timedelta().sort_values(by="gap")

                  gap
Parnells    2555 days
Schumachers 3045 days
Andrettis   3823 days
Verstappens 4172 days
Villeneuves 5054 days
Magnussens  5761 days
Nakajimas   5831 days
Piquets     5978 days
Fittipaldis 5992 days
Hills       6377 days
Rosbergs    7077 days
Brabhams    7154 days
Winkelhocks 8022 days
Palmers     9646 days

## Drivers both father and son have raced against

In [17]:
results["adversaries"] = results["year_round"].map(results.groupby("year_round")["name"].agg(list))

C:\Users\micha\AppData\Local\Temp\ipykernel_2696\4152069641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results["adversaries"] = results["year_round"].map(results.groupby("year_round")["name"].agg(list))

In [18]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

def adversaries():
    adversaries = {}
    for key, value in fathersAndSons.items():
        father = results[results["name"] == value[0]]
        father = father["adversaries"].tolist()
        father = [item for sublist in father for item in sublist]
        father = list(set(father))
        son = results[results["name"] == value[1]]
        son = son["adversaries"].tolist()
        son = [item for sublist in son for item in sublist]
        son = list(set(son))        
        inter = intersection(father, son)
        pair = [len(inter), ", ".join(inter)]
        adversaries[key] = pair
    pd.set_option('display.max_colwidth', None)
    adversaries = pd.DataFrame.from_dict(adversaries, orient="index", columns=["count", "names"])    
    
    return(adversaries)

adversaries().sort_values(by="count", ascending = False)

,count,names
Schumachers,8,"Robert Kubica, Fernando Alonso, Nico Hülkenberg, Sebastian Vettel, Sergio Pérez, Daniel Ricciardo, Kimi Räikkönen, Lewis Hamilton"
Andrettis,5,"Michele Alboreto, Alain Prost, Riccardo Patrese, Derek Warwick, Andrea de Cesaris"
Parnells,3,"Roy Salvadori, Maurice Trintignant, Stirling Moss"
Verstappens,3,"Fernando Alonso, Jenson Button, Kimi Räikkönen"
Brabhams,0,
Fittipaldis,0,
Hills,0,
Magnussens,0,
Nakajimas,0,
Palmers,0,
Piquets,0,
Rosbergs,0,
Villeneuves,0,
Winkelhocks,0,

## How old was the son on the day of his father's last race?

In [19]:
def timedeltaAge():
    timedeltasAge = {}
    for key, value in fathersAndSons.items():
        deltaAge = results[results["name"] == value[0]]["date"].max() - results[results["name"] == value[1]]["dob"].min()
        deltaAge = deltaAge
        timedeltasAge[key] = deltaAge
    timedeltasAge = pd.DataFrame.from_dict(timedeltasAge, orient="index", columns = ["age"])    
    return(timedeltasAge)
        
timedeltaAge().sort_values(by="age")

                  age
Palmers     -455 days
Rosbergs     486 days
Fittipaldis 1721 days
Brabhams    1876 days
Winkelhocks 1878 days
Magnussens  2071 days
Verstappens 2203 days
Piquets     2292 days
Nakajimas   2487 days
Villeneuves 4048 days
Schumachers 4997 days
Hills       5244 days
Andrettis   7295 days
Parnells    8057 days